body {
    height: 100vh;
    font-family: Poppins, sans-serif;
    background-color: rgb(18, 18, 18);
    color: rgb(237, 237, 237);
}

.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateY(-50%) translateX(-50%);
    width: 12rem;
    height: 4rem;
    z-index: 2;
}

.spin-container {
    display: inline-block;
    perspective: 1000px;
    position: fixed;
    left: 60%;
    top: 20%;
}

.spin-image {
    animation: spin 3s linear infinite;
    transform-origin: center center;
    z-index: 1;
}

@keyframes spin {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    25% {
        transform: perspective(1000px) rotateY(90deg) scaleX(0);
    }
    50% {
        transform: perspective(1000px) rotateY(180deg) scaleX(1);
    }
    75% {
        transform: perspective(1000px) rotateY(270deg) scaleX(0);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg) scaleX(1);
    }
}