#links {
    position: absolute;
    flex-direction: column;
    padding: 8px;
    right: 350px;
    bottom: 18px;
    width: 188px;
    height: 224px;
    border: 1px solid rgb(237, 237, 237);;
}

#link-title {
    position: absolute;
    left: 6px;
    bottom: 230px;
    width: 66px;
    display: flex;
    justify-content: center;
    background-color: rgb(18, 18, 18);
    font-size: 14px;
    font-weight: 400;
}

.link {
    color: rgb(237, 237, 237);;
    font-size: 12px;
}

#text {
    font-size: 25px;
    font-weight: 600;
}

#wife::before {
    content: "← ";
}

#wife::after {
    content: "";
}

#wife {
    position: absolute;
    width: 200px;
    left: 425px;
    bottom: 215px;
    transform: rotate(-12deg);
}

#center-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 400px;
    height: 64px;
}

#scale-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    #scale-container {
        transform: scale(0.9);
    }

    #spin-container {
        left: 264px !important;
        bottom: 50px !important;
    }

    #wife {
        left: 174px !important;
        bottom: 232px !important;
        transform: rotate(12deg) !important;
    }

    #wife::before {
        content: "" !important;
    }

    #wife::after {
        content: " →" !important;
    }

    #links {
        right: 96px !important;
        bottom: -244px !important;
    }
}

#profiles-container {
    position: absolute;
    bottom: 44px;
    left: 70px;
    display: flex;
    gap: 10px;
}

#spin-container {
    width: 82px;
    height: 221px;
    perspective: 1000px;
    position: absolute;
    left: 335px;
    bottom: 10px;
}

#spinner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: center;
    animation: spin 1.5s linear infinite;
}

#spinner img {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

#front-image {
    transform: rotateY(0deg);
}

#back-image {
    transform: rotateY(180deg);
}

@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}