#links {
    position: absolute;
    flex-direction: column;
    display: flex;
    padding: 8px;
    right: 350px;
    bottom: 18px;
    width: 188px;
    height: 224px;
    border: 1px solid rgb(237, 237, 237);;
}

#link-title {
    position: absolute;
    left: 6px;
    bottom: 230px;
    width: 44px;
    display: flex;
    justify-content: center;
    background-color: rgb(18, 18, 18);
    font-size: 14px;
    font-weight: 400;
}

.link {
    color: rgb(237, 237, 237);;
    font-size: 12px;
}

.offline {
    color: rgb(175, 32, 32);
}

#text {
    position: relative;
    left: -10px;
    font-size: 25px;
    font-weight: 600;
}

#center-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 400px;
    height: 64px;
}

#scale-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    #scale-container {
        transform: scale(0.9);
    }

    #links {
        right: 96px !important;
        bottom: -244px !important;
    }
}

#profiles-container {
    position: absolute;
    bottom: 44px;
    left: 70px;
    display: flex;
    gap: 10px;
}
