<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/wx.css">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.5.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.5.1/mapbox-gl.js"></script>
    <title>zootnet</title>
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
    <meta name="title" content="zootnet">
    <meta name="description" content="the pawsome site">
    <meta name="keywords" content="zootfoot">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
</head>

<body>
    <div id="menu-bar">
        <button id="menu-bar-button-location" class="menu-bar-button">
            <img class="menu-icon"src="../svg/location-arrow.svg" alt="Location Button">
        </button>
        <button id="menu-bar-button-radar" class="menu-bar-button" onclick="toggleRadarBtns()">
            <img class="menu-icon"src="../svg/radar.svg" alt="Radar Button">
        </button>
    </div>

    <img id="zootnet" src="../images/zootnet.webp" alt="zootnet icon with attributions">

    <div id="map"></div>

    <script src="../js/wx.js"></script>
</body>
</html>